%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
.selector
/   %p Here's how this works.
/ :javascript
/     $('#toggle').click(function() {
/       $( "#toggle" ).toggle( "fade" );
/     });
/ :javascript
/ $( ".selector" ).dialog({ autoOpen: true });
