.row
  .twelve.columns
    .outfit_display
      - @outfits.each do |outfit|
        #{link_to(outfit.name, outfit, :class => 'outfit_index_name')}
        %br/
        %br/
        - outfit.pieces.each do |piece|
          = image_tag(piece.image, :size => "200x200")

        %br/
        %br/
        %br/

