<div class="outfit_display">

<% @outfits.each do |outfit| %>
<%= link_to(outfit.name, outfit) %>
<br>
<br>

  <% outfit.pieces.each do |piece| %>
  <%= image_tag(piece.image, :size => "200x200") %>
 <% end %>
<br>
<br>
<br>
<% end %>
</div>


