<!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->

<div id="main_heading">
<center>Stylemine</center>
</div>
<br>
<br>
<br>


  <div class="row">
    <div class="twelve columns">
      <div id="slider">
        <img src="http://www.fashion156.com/resources/uploads/2012/09/Fashion156-Kinder-Aggugini-Runway-6.jpg" />
        <img src="http://www.fashion156.com/resources/uploads/2012/09/marcaitkennovachiu2.jpg" />
        <img src="http://www.fashion156.com/resources/uploads/2012/09/fashion156-damir-doma-2.jpg" />
        <img src="http://www.fashion156.com/resources/uploads/2012/09/fashion156roksandailinic2.jpg" />
      </div>

      <hr />
    </div>
  </div>

<br>
<br>
<br>

  <!-- Three-up Content Blocks -->

  <div class="row">

    <div class="four columns">
      <img src="http://cdn.kirnazabete.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/e/r/erd27p88dmul_1/.jpg" />
      <h4>Browse Your Closet</h4>
      <%= yield %>
      <p>In a style rut?  Check out what you already have and go shopping in your closet!  Use this feature to stay organized and inspire you to get creative.</p>
    </div>

    <div class="four columns">
      <img src="http://cdn.kirnazabete.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/c/o/co26rdolbur_1/.jpg" />
      <h4>Create a Look</h4>
      <p>Put together an outfit for an event, create a new look from old clothes, or pack a suitcase the smart way. Get a second opinion from a friend before you go out!</p>
    </div>

    <div class="four columns">
      <img src="http://cdn.kirnazabete.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/k/w/kw27p118ylw_1/.jpg" />
      <h4>Try on Something New.</h4>
      <p>See how something works with your wardrobe!  Add a photo from online or your phone, mix and match with what's already in your closet, and decide whether or not to buy.</p>
    </div>

  </div>

<script type="text/javascript">
     $(window).load(function() {
         $('#slider').orbit();
     });
  </script>

</body>
</html>