.page_headers New piece
%br/
%br/
%br/
.new_piece_display
  = render "form"
#form_image
  %img{:src => "http://cdn.kirnazabete.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/p/i/pia27pnanblk_1/KirnaZabete-Piamita-Nan-Pajama-Pant-31.jpg"}/
  / = link_to 'Back', pieces_path