<div class="page_headers">New piece</div>
<br>
<br>
<br>
<div class="new_piece_display">

<%= render "form" %></div>

<div id="form_image">
<img src="http://cdn.kirnazabete.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/p/i/pia27pnanblk_1/KirnaZabete-Piamita-Nan-Pajama-Pant-31.jpg"></div>

<!--
<%= link_to 'Back', pieces_path %>
 -->