%body
  \...
  %ul#flip
    %li
      %a{:href => "..."}
        %img{"..." => ""}/
        %span.title My title
    %li
      %a{:href => "..."}
        %img{"..." => ""}/
        %span.title Another title
    \...
