@import url(http://fonts.googleapis.com/css?family=Cantata+One);

/*
General
*/


.social-buttons
{
  float: right;
  display: inline-block;
  padding: 5px;
}

#outfits_form
{
  width: 1350px;
}

.new_piece_form
{
  width: 300px;
}

#create_outfit_button
{
  margin-top: 10px;
  background-color: black;
}

.outfit_show
{
  padding: 10px;
}

.reveal-modal
{
  width: 300px;
}

.button
{
  background-color: white;
}

.outfit_index_name
{
  color: white;
  border: 1px solid black;
  background-color: black;
  background-size: 20px;
  top: 275px;
  left: 0;
  width: 40%;
}

.title
{
  color: white;
}

#notice
{
  margin-left: 350px;
  margin-top: 30px;
}

.dropdown
{
  margin-top: 75px;
  margin-left: 200px;
  width: 400px;
}

#flip.ui-jcoverflip
{
  margin-top: 350px;
  margin-left: 100px;
}

.ui-jcoverflip
{
  position: relative;
}

.ui-jcoverflip--item
{
  position: absolute;
  display: block;
}

.select_piece
{
  padding: 15px;
}

.pretty_pictures
{
  padding: 30px;
}

.outfit_item
{
  width: 850 px;
}

.field
{
  width: 900px;
  padding-right: 450px;
}

#your_closet_page_header
{
  font-family: 'Cantata One', serif;
  font-size: 54px;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 55px;
}

#main_heading
{
  font-size: 75px;
}

.page_headers
{
  font-family: 'Cantata One', serif;
  font-size: 54px;
  font-weight: bold;
  padding-top: 10px;
}

.piece_links
{
  bottom: 50px;
  left: 5px
}

.outfit_item
{
  border: 1px solid #D3DCF2;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
  input[type='checkbox']
  {
    display: none;
  }
}

/*
End General
*/

/*
Pieces display
*/

.piece_display
{
  display: inline-block;
  font-family: 'Cantata One', serif;
  position:absolute;
  right:0px;
  top:125px;
  margin-right: 350px;
}

#piece_image_display
{
  float: left;
  margin-left: 300px;
}

.piece_labels
{
  display: inline;
}

form
{
  width: 300px;
  position: relative;
}

.links
{
  font-size: 14px;
  margin-left: 350px;
}


/*
End Pieces Display
*/
/*
New Piece Page
*/
.new_piece_display
{
  display: inline-block;
  font-family: 'Cantata One', serif;
}

#form_image
{
  float: right;
  margin-top: 125px;
}

h1
{
  margin-left: 345px;
  margin-bottom: 50px;
}

/*
End New Piece Page
*/
/*
Outfit display:
*/
.outfit_display
{
  display: inline;
  font-family: 'Cantata One', serif;
  font-size: 24px;
  padding-top: 55px;
  padding-bottom: 30px;
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.outfit_name
{
  font-family: 'Cantata One', serif;
  font-size: 24px;
  margin-left: 30px;
}

.piece
{
  width: 10px;
  height: 10px;
  float: left;
}
