<footer class="row">
  <div class="twelve columns"><hr />
    <div class="row">

      <div class="six columns">
        <p>&copy; Stylemine 2013</p>
      </div>

      <div class="six columns">
        <ul class="link-list right">
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
